<footer class="footer">
	<div class="container">
		<div class="h-card row">
			<div class="col-sm-2">
				<img src="/assets/images/miranda.jpg" alt="Miranda Ragland's 2016 headshot number 2." class="u-photo img-circle img-responsive">
			</div>

			<div class="col-sm-6">
				<h4>About</h4>
				<a href="{{ site.url }}" class="p-name u-url">{{ site.author.name }}</a>
				<p>{{ site.author.bio }}</p>
			</div>

			<div class="col-sm-4">
				<h4>Social</h4>
				<a href="{{ site.author.twitter }}" rel="me"><i class="fa fa-fw fa-twitter"></i>@MirandaJanell on Twitter</a><br>
				<a href="{{ site.author.github }}" rel="me"><i class="fa fa-fw fa-github"></i>GitHub</a>
			</div>
		</div>
	</div>
</footer>