<footer class="footer">
	<div class="container">
		<div class="h-card row">
			<div class="col-sm-2">
				<img src="{{ site.url }}/assets/images/miranda.jpg" alt="Miranda Ragland's 2016 headshot number 2." class="u-photo img-circle img-responsive">
			</div>

			<div class="col-sm-6">
				<h4>About</h4>
				<a href="{{ site.url }}" rel="me" class="p-name u-url">{{ site.author.name }}</a>
				<p class="p-note">{{ site.author.bio }}</p>
				<p>Co-Leader of <a href="https://success.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F9300000001teM">Orange County, CA Women in Tech</a></p>
				<p>Co-Founder of <a href="https://www.softwareanywhere.com">Software Anywhere</a></p>
			</div>

			<div class="col-sm-4">
				<h4>Social</h4>
				<ul class="list-unstyled">
					<li><a href="{{ site.author.twitter }}" rel="me"><i class="fa fa-fw fa-twitter"></i>@MirandaJanell on Twitter</a></li>
					<li><a href="{{ site.author.github }}" rel="me"><i class="fa fa-fw fa-github"></i>GitHub</a></li>
				</ul>

				<ul class="list-unstyled">
					<li><a href="{{ "/feed.xml" | relative_url }}"><i class="fa fa-fw fa-rss"></i>Subscribe via RSS</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>